<ion-header>
  <ion-toolbar color="primary">
    <ion-button size="small"slot="start">
      <ion-back-button fill="clear" text="" defaultHref="/"></ion-back-button>
    </ion-button>
    <ion-title> Reservar Quadra </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ information[0]?.nome}}
      </ion-card-title>
      <ion-card-subtitle>
        {{ information[0]?.tipo }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/img/0.jpeg" height="100" width="100" *ngIf="information[0].tipo === 'basquete'">
        <img src="./assets/img/1.jpg"  height="100" width="100" *ngIf="information[0].tipo === 'futebol'">
        <img src="./assets/img/2.jpg"  height="100" width="100" *ngIf="information[0].tipo === 'futsal'">
        <img src="./assets/img/3.jpg"  height="100" width="100" *ngIf="information[0].tipo === 'baseball'">
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime  (ionChange)="getData($event)" display-format=" DDD DD MMM, YYYY" min="2019" max="2050-12-31" placeholder="Selecione a Data"
    cancel-text="Cancelar" done-text="Confirmar"
    [monthNames]="mesCompleto"
    [monthShortNames]="mesCurto"
    [dayNames]="diaCompleto"
    [dayShortNames]="diaCurto"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Horário</ion-label>
    <ion-datetime (ionChange)="getHorario($event)" display-format=" HH:mm" cancel-text="Cancelar" done-text="Confirmar" hourValues="13,14,15,16,17,18,19" minuteValues="00"  placeholder="Selecione a Hora"></ion-datetime>
  </ion-item>
  <ion-button (click)= "reservar()">Reservar Quadra</ion-button>
</ion-content>