<ion-tabs>
    <ion-tab-bar slot="bottom" color='primary'>
     <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Página Inicial</ion-label>
      </ion-tab-button>
  
     <ion-tab-button tab="movies">
        <ion-icon name="football"></ion-icon>
        <ion-label>Quadras</ion-label>
      </ion-tab-button>
  
     <ion-tab-button tab="movies/22222">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Evento</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="!usuario" tab="login" >
        <ion-icon name="person"></ion-icon>
        <ion-label>Entrar</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="usuario"tab="home" (click)= "sair()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>