<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Quadras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-list>
    <ion-item button *ngFor="let item of ( results | async ) ; let e = index " [routerLink]="['/', 'movies', item.id]">
      <ion-avatar slot="start">
        <img src="./assets/img/0.jpeg"  *ngIf="item.tipo === 'basquete'">
        <img src="./assets/img/1.jpg"  *ngIf="item.tipo === 'futebol'">
        <img src="./assets/img/2.jpg"  *ngIf="item.tipo === 'futsal'">
        <img src="./assets/img/3.jpg"  *ngIf="item.tipo === 'baseball'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.nome }}</h3>
        {{ item.tipo }}
      </ion-label>

      <ion-icon slot="end" *ngIf="item.tipo == 'futsal' || item.tipo == 'futebol'" name="football"></ion-icon>
      <ion-icon slot="end" *ngIf="item.tipo == 'baseball'" name="baseball"></ion-icon>
      <ion-icon slot="end" *ngIf="item.tipo == 'basquete'" name="basketball"></ion-icon>



    </ion-item>
  </ion-list>
</ion-content>
